# VB6 source files (show diff + keep CRLF in zip download)

*.bas        working-tree-encoding=CP1251 text eol=crlf linguist-language=vb6
*.cls        working-tree-encoding=CP1251 text eol=crlf linguist-language=vb6
*.ctl        working-tree-encoding=CP1251 text eol=crlf linguist-language=vb6
*.dob        working-tree-encoding=CP1251 text eol=crlf linguist-language=vb6
*.dsr        working-tree-encoding=CP1251 text eol=crlf linguist-language=vb6
*.frm        working-tree-encoding=CP1251 text eol=crlf linguist-language=vb6
*.pag        working-tree-encoding=CP1251 text eol=crlf linguist-language=vb6
*.vbg        working-tree-encoding=CP1251 text eol=crlf
*.vbl        working-tree-encoding=CP1251 text eol=crlf
*.vbp        working-tree-encoding=CP1251 text eol=crlf
*.vbr        working-tree-encoding=CP1251 text eol=crlf
*.vbw        working-tree-encoding=CP1251 text eol=crlf
 
# Other source files (show diff + LF only in zip download)

*.asm        text
*.asp        text
*.bat        text
*.c          text
*.cpp        text
*.dsp        text
*.dsw        text
*.h          text
*.idl        text
*.java       text
*.js         text
*.manifest   text
*.odl        text
*.php        text
*.php3       text
*.rc         text
*.sln        text
*.sql        text
*.vb         text
*.vbs        text

# Binary

*.res        binary
*.frx        binary
*.ctx        binary
*.dsx        binary
*.exe        binary
*.dll        binary
*.ocx        binary
*.cmp        binary
*.pdb        binary
*.tlb        binary
*.xls        binary
*.doc        binary
*.ppt        binary
*.xlsx       binary
*.docx       binary
*.pptx       binary
*.chm        binary
*.hlp        binary
*.jpg        binary
*.png        binary
*.bmp        binary
*.gif        binary
*.ico        binary
*.zip        binary
*.cab        binary
*.7z         binary
*.gz         binary
*.cobj       binary
*.pfx        binary
*.cer        binary

# Text files but keep as binary (no diff)

# *.cfg        text
# *.conf       text
# *.csi        text
# *.css        text
# *.csv        text
# *.def        text
# *.htm        text
# *.html       text
# *.inf        text
# *.ini        text
# *.log        text
# *.reg        text
# *.rtf        text
# *.txt        text
# *.url        text
# *.xml        text
