## VB6 workspace

*.vbw
*.bak
*.log
*.scc
*.zip
*.exp
*.lib
*.obj
*.dll
*.exe
*.pdb
**/_del/*
**/SodiumTest - Copy/*
~*
*.xlsb

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb